<!-- @format -->

{% extends 'base.html' %}
{% load static %}
{% block title %} movie {% endblock title %}
{% block others %}
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock %}

{% block content %}

    {% include 'partials/navbar.html' %}

    <main class="bg-primary_black min-h-screen w-full">
        <section
            class="h-screen relative bg-no-repeat pb-8 pl-6 flex items-end bg-cover"
            style="background-image: url('{{movie.flyer.url}}'); background-size: cover; background-position: center center; box-shadow: inset 30em -40em 20em -20em black">
            <div>
                <h2
                    class="text-6xl font-semibold text-white my-4"
                    style="box-shadow: 0 20px 150px 200px #0008; background: #0008">
                    {{ movie.title }}
                </h2>
                <p class="w-11/12 md:w-5/12 font-medium text-white my-4">
                    {{ movie.description }}
                </p>
                <div class="flex my-4">
                    <a href="{% url 'core:play' movie_id=movie.uuid %}">
                        <button
                            class="flex items-center bg-white py-2 px-5 rounded-md"
                            style="color: black">
                            <ion-icon name="play" class="text-2xl"></ion-icon>
                            <span class="ml-3 font-medium"> Play </span>
                        </button>
                    </a>
                </div>
            </div>
        </section>
        {% if movie.type == 'seasonal' %}
            <section class="bg-primary_black min-h-screen flex justify-center py-10">
                <div class="p-8 w-10/12 relative">
                    <div
                        class="flex flex-col gap-5"
                        style="margin-top: 2rem; margin-bottom: 2rem">
                        <h2 class="text-gray-200 text-3xl font-medium">Episode</h2>
                        {% for episode in movie.videos.all %}
                            <h3>
                                <a
                                    class="text-lg bg-slate-700 px-5 py-2 rounded"
                                    href="{% url 'core:play' movie_id=movie.uuid %}?epi={{forloop.counter0}}">
                                    {{forloop.counter}} - {{episode.title}}
                                </a>
                            </h3>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
    </main>
    <script>
        const nav = document.querySelector('nav');

        document.addEventListener('scroll', (e) => {
            if (scrollY > 200) {
                nav.classList.add('bg-gray-900');
            } else {
                nav.classList.remove('bg-gray-900');
            }
        });
    </script>
{% endblock content %}
